<!DOCTYPE html>
<html>
  <head>

    <title>SAVEYOURWISH.COM</title>

  </head>

<body>
	<h2>Hello People</h2>
	<p>
	  The time is now: <%= Time.now %>
	</p>

	<p>
	  We can save every occasion here and send your wishes instantly.
	</p>
</body>

</html>